---
import { Image } from "astro:assets";
import janCover from "../../public/images/jan-hofgarten-2024/DSCF7578.jpg"
import jieCover from "../../public/images/jie-france-spain-2024/DSCF0135 2.jpg"
import lisaCover from "../../public/images/lisa-olypark-2024/DSCF9460.jpg"
---

<div class="columns-1 sm:columns-2 md:columns-3 space-y-4 sm:gap-16 sm:space-y-16">
    <a href="/" class="flex flex-col space-y-1 p-4">
        <Image
                src={janCover}
                alt="Photo"
                class="w-full"
        />
       <p class="sm:text-xl text-center">Jan</p>
    </a>
    <a href="/" class="flex flex-col space-y-1 p-4">
        <Image
                src={jieCover}
                alt="Photo"
                class="w-full"
        />
        <p class="sm:text-xl text-center">Jie</p>
    </a>
    <a href="/" class="flex flex-col space-y-1 p-4">
        <Image
                src={lisaCover}
                alt="Photo"
                class="w-full"
        />
        <p class="sm:text-xl text-center">Lisa</p>
    </a>
</div>

