---
import Navbar from "../components/Navbar"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-Ac.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Arno Claude</title>
	</head>
	<body class="w-full h-full sm:px-16 md:px-32 bg-cream">
	<Navbar client:load/>
		<slot />
	</body>
</html>
